[submodule "biobb_wf_md_setup/jupyter"]
	path = biobb_wf_md_setup/jupyter
	url = https://github.com/bioexcel/biobb_wf_md_setup
[submodule "biobb_wf_ligand_parameterization/jupyter"]
	path = biobb_wf_ligand_parameterization/jupyter
	url = https://github.com/bioexcel/biobb_wf_ligand_parameterization
[submodule "biobb_wf_protein_complex_md_setup/jupyter"]
	path = biobb_wf_protein_complex_md_setup/jupyter
	url = https://github.com/bioexcel/biobb_wf_protein-complex_md_setup
[submodule "biobb_wf_virtual_screening/jupyter"]
	path = biobb_wf_virtual_screening/jupyter
	url = https://github.com/bioexcel/biobb_wf_virtual-screening
[submodule "biobb_wf_amber_md_setup/jupyter"]
	path = biobb_wf_amber_md_setup/jupyter
	url = https://github.com/bioexcel/biobb_wf_amber_md_setup
[submodule "biobb_wf_amber_protein_complex_md_setup/jupyter"]
	path = biobb_wf_amber_protein_complex_md_setup/jupyter
	url = https://github.com/bioexcel/biobb_wf_amber_md_setup
[submodule "biobb_wf_amber_abc_md_setup/jupyter"]
	path = biobb_wf_amber_abc_md_setup/jupyter
	url = https://github.com/bioexcel/biobb_wf_amber_md_setup
[submodule "biobb_wf_dna_helparms/jupyter"]
	path = biobb_wf_dna_helparms/jupyter
	url = https://github.com/bioexcel/biobb_wf_dna_helparms
