on:
  push:
    paths:
      - common/docker/Dockerfile
  workflow_dispatch:

name: Dockerfile
jobs:
  dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: peter-murray/workflow-application-token-action@v3
        id: generate_token
        with:
          application_id: ${{ vars.GHAPUSH }}
          application_private_key: ${{ secrets.GHAPUSH }}
      - uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - name: Copy Dockerfile
        run: |
          cp common/docker/Dockerfile biobb_wf_amber_abc_setup/docker/Dockerfile
          sed -i '83a\        cp -r /data/ABCix_config_files \\"$dir/ABCix_config_files\\"; \\' biobb_wf_amber_abc_setup/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_amber_md_setup/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_amber_md_setup_lig/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_cmip/docker/Dockerfile
          sed -i '83a\        cp -r /data/Files \\"$dir/Files\\"; \\' biobb_wf_cmip/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_dna_helparms/docker/Dockerfile
          sed -i '47a# Copy the .curvesplus folder into the Docker image' biobb_wf_dna_helparms/docker/Dockerfile
          sed -i '48aCOPY .curvesplus /opt/conda/envs/$REPOSITORY' biobb_wf_dna_helparms/docker/Dockerfile
          sed -i '49a\\' biobb_wf_dna_helparms/docker/Dockerfile
          sed -i '86a\        cp -r /data/TRAJ \\"$dir/TRAJ\\"; \\' biobb_wf_dna_helparms/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_flexdyn/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_flexserv/docker/Dockerfile
          sed -i '83a\        cp -r /data/Files \\"$dir/Files\\"; \\' biobb_wf_flexserv/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_godmd/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_ligand_parameterization/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_md_setup/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_md_setup_mutations/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_pmx_tutorial/docker/Dockerfile
          sed -i '83a\        cp -r /data/pmx_tutorial \\"$dir/pmx_tutorial\\"; \\' biobb_wf_pmx_tutorial/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_protein_md_analysis/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_protein-complex_md_setup/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_structure_checking/docker/Dockerfile
          cp common/docker/Dockerfile biobb_wf_virtual-screening_fpocket/docker/Dockerfile

      - name: Commit and push changes
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add */docker/Dockerfile && git commit -m "Updated Dockerfile" && git push